*{
	margin: 0px;
	padding: 0px;
}

header{
width: 100%;
height: 41px;
background-color: #C4C4C4; 
display: flex; 
justify-content: space-around;
align-items: center;
}

h1{
  font-size: 30px;
}

header ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
width: 100%;
    color: white;
}


a{
  color: white;
  text-decoration: none;
}

.logo{
  background-color: black;
  width: 50px;
  height: 41px;
}

.navbar {
  display: flex;
  width: 400px;
  height: 41px;
  background-color: black;
align-items: center;

}

.search input{
  margin-top: 5px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
line-height: 14px;
border: 2px;
}

.search{
  align-items: center;
  display: flex;
}
.search img{
  height: 25px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.films-top {
    display: flex;
}

.films-left {
    width: 751px;
    height: 535px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.blok {
    background-image: url(../img/fi.png);
    border-radius: 8px;
    width: 342px;
    height: 237px;
    position: relative;

}
.blok button {
    width: 100%;
    height: 42px;
    background-color:#FA7E0C;;
    border: none;
    position: absolute;
    bottom: 0px;
    font-size: 13px;
    color: white;
}
.films-center {
    margin-left: 67px;

}

.main-film {
    width: 342px;
height: 535px;
border-radius: 8px;
background-image: url(../img/venom.png);
position: relative;
}

.main-film button {
    width: 100%;
    height: 42px;
    background-color: #FA7E0C;;
    border: none;
    position: absolute;
    bottom: 0px;
    font-size: 13px;
    color: white;
}

.kinote {
margin-left: 52px;
    width: 251px;
height: 326px;
background-color: #C4C4C4;
position: relative;
}

.kinote_blok{
  margin-left: 20px;
  display: flex;
  align-items: center;
  height: 280px;
  width: 200px;


}
.kino_text{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.kinote button {
    width: 100%;
    height: 36px;
    background-color: #FA7E0C;;
    border: none;
    position: absolute;
    bottom: 0px;
    font-size: 13px;
    color: white;
}

.films-bot {
    margin-top: 30px;
    display: flex;
    width: 76%;
    justify-content: space-between;
}

.bot-blok {
    width: 182px;
height: 125px;
background-image: url(../img/123.jpg);
position: relative;
}

.bot-blok button {
    width: 100%;
    height: 25px;
    background-color: #FA7E0C;;
    border: none;
    position: absolute;
    bottom: 0px;
    font-size: 9px;
    color: white;
}

.alf button{
 width: 354px;
height: 55px;
    background-color: #FA7E0C;;
    border: none;
    bottom: 0px;
    font-size: 18px;
line-height: 21px;
    color: white;
    margin:68px 0px 82px 0px;
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 468px;
  width: 100%;
  background-color: #C4C4C4;
}

.f_blok1{
  display: flex;
  justify-content: space-between;
  width: 600px;
  height:300px;

}
.f_blok2{
  width: 180px;
  height:100%;

}

.text{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  line-height: 33px;
  font-size: 20px;
}


.sots{
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  font-size:30px; 
}
.sots img{
  width: 62px;
  height: 62px;
}

.alfilm1{
  width: 1600px;
  height: 300px;
  
display: flex;
justify-content: space-between;
}
.af_blok1{
  width: 342px;
  height: 237px;
background-image: url(../img/fi.png);

border-radius: 5px;
position: relative;
}

.af_blok1 button {
    width: 100%;
    height: 42px;
    background-color: #FA7E0C;;
    border: none;
    position: absolute;
    bottom: 0px;
    font-size: 13px;
    color: white;
}
